<section class="testInfo">
  <img
    class="testInfo_img"
    src="assets/javascript-js-logo-2949701702-seeklogo.com.png"
  />
  <div class="testInfo_title">جافا سكربت</div>
  <div class="testInfo_textLevel">المستوي الثالث</div>
  <div class="testInfo_description">
    هو ببساطة نص شكلي (بمعنى أن الغاية هي الشكل وليس المحتوى) ويُستخدم في صناعات
    المطابع ودور النشر هو ببساطة نص شكلي (بمعنى أن الغاية هي الشكل وليس المحتوى)
    ويُستخدم في صناعات المطابع ودور النشر هو ببساطة نص شكلي (بمعنى أن الغاية هي
    الشكل وليس المحتوى) ويُس
  </div>
  <div class="testInfo_button">
    <button (click)="goToQuestion()">يلا بينا</button>
  </div>
</section>
