<div class="about" (window:resize)="detectScreenWidth($event)">
  <div class="about__content">
    <h1 class="about__title">اعرف اكتر عن فريقنا</h1>
    <p class="about__desc">
      احنا مجموعة من الشباب هدفنا نضيف قيمه لمجتمعنا ونساعد معظم المطورين سواء
      في بداية حياتهم المهنية أو خبراء
    </p>
    <div class="about__slider">
      <ng-container *ngFor="let item of sliderArr; let itemIndex = index">
        <ng-container
          *ngIf="(screenWidth <= 576 && itemIndex == 0) || screenWidth > 576"
        >
          <div class="about__slider--ele">
            <div class="about__slider--ele--img">
              <img [src]="'../../../../assets/imags/' + item.img" alt="" />
            </div>
            <div class="about__slider--ele--desc">
              <h1 class="about__slider--ele--desc--name">{{ item.name }}</h1>
              <p class="about__slider--ele--desc--title">{{ item.job }}</p>
              <!-- <p class="about__slider--ele--desc--member_desc">
                {{ item.desc }}
              </p> -->
            </div>
          </div>
        </ng-container>
      </ng-container>
    </div>
  </div>
</div>
