.about_pg {
  direction: rtl;
  background: #000;
  color: #ecececec;
  padding: 50px 20px;

  .pg-title {
    font-size: 48px;
  }
  .title-desc {
    font-size: 16px;
  }
  .slider {
    width: 200%;
    display: flex;
    .ele {
      width: 15rem;
      margin-left: 1.5rem;
      //   color: #ececec;

      h1,
      h2 {
        line-height: 0.7;
      }
      h1 {
        font-size: 20px;
      }
      h2 {
        font-size: 16px;
      }

      img {
        width: 100%;
        height: 13rem;
      }
    }
  }
}
