@import url("https://fonts.googleapis.com/css2?family=Almarai&display=swap");

* {
  /*  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol'; */
  font-family: "Almarai", sans-serif;
  box-sizing: border-box;
  &:focus {
    outline: none;
  }
}
body {
  direction: rtl;
  background: var(--black);
  margin: 0;
  color: var(--gray);
}
img {
  max-width: 100%;
}
.text-center {
  text-align: center;
}
input {
  -webkit-background-clip: text !important;
}
grammarly-desktop-integration {
  display: none;
}

.content {
  min-height: calc(100vh - 30vh);
  display: grid;
  overflow: hidden;
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 768px) {
 /*  .content {
    height: auto;
  } */
  .container {
    width: 750px;
  }
  
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

@media (min-width: 1400px) {
  .container {
    width: 1300px;
  }
}


