<div class="home">
  <div class="container">
    <div class="block">
      <div class="block__content">
        <h1 class="block__content__text">استثمر في نفسك الان</h1>
        <p class="block__content__description">
          ان جي عرب هو اول موقع عربي يساعدك علي تطوير نفسك بدأنا بالاختبارات و
          سننمو اسرع مما تتصور
        </p>
        <button
          type="button"
          class="block__content__btn"
          (click)="this.popup = true"
        >
          ابدأ الاختبار
        </button>
      </div>
    </div>

    <div class="image">
      <img src="assets/59e1383b-2458-4d56-92e5-7f95bf90fd22.svg" />
    </div>
  </div>
</div>
<app-popup [popup_flag]="popup" (tragerPopup)="closePopup($event)"></app-popup>
