/*color*/
$base-color: #ffff;
$background: #15202b;
$second-color: #ffac41;
/*endcolor*/
.home {
    height: 100vh !important;
    background-color: $background;
    display: flex;
    .partI {
        width: 50%;
        display: flex;
        align-items: center;

        .content {
            padding-right: 4rem;
            .textHome {
                color: $base-color;
                font-size: 80px;
                font-weight: bold;
            }
            .descriptionHome {
                color: #f2f2f2;
                font-size: 25px;
                margin-top: 1rem;
                margin-bottom: 1rem;
                line-height: 1.88;
            }

            .btn {
                background-color: $second-color;

                color: $background;
                font-size: 1.5rem;
                padding: 0.8rem 3.5rem;
                margin-top: 0.5rem;
                border: none;
                border-radius: 0.4rem;
            }
        }
    }
}
@media only screen and (max-width: 767px) {
    .home {
        height: 0rem !important;
        min-height: 20rem !important;

        display: block;
        padding-top: 9rem;
        .partI {
            width: 100%;
            display: flex;
            align-items: center;

            .content {
                padding-right: 1rem;
                .textHome {
                    color: $base-color;
                    font-size: 30px;
                    font-weight: bold;
                }
                .descriptionHome {
                    color: #f2f2f2;
                    font-size: 15px;
                    margin-top: 1rem;
                    margin-bottom: 1rem;
                    line-height: 1.88;
                }

                .btn {
                    background-color: $second-color;

                    color: $background;
                    font-size: 1.5rem;
                    padding: 0.8rem 3.5rem;
                    margin-top: 0.5rem;
                    border: none;
                    border-radius: 0.4rem;
                }
            }
        }
    }
}

@media (min-width: 768px) and (max-width: 990px) {
    .home {
        height: 0rem !important;
        min-height: 20rem !important;
        display: block;
        padding-top: 9rem;
        .partI {
            width: 100%;
            display: flex;
            align-items: center;

            .content {
                padding-right: 2rem;
                .textHome {
                    color: $base-color;
                    font-size: 40px;
                    font-weight: bold;
                }
                .descriptionHome {
                    color: #f2f2f2;
                    font-size: 20px;
                    margin-top: 1rem;
                    margin-bottom: 1rem;
                    line-height: 1.88;
                }

                .btn {
                    background-color: $second-color;

                    color: $background;
                    font-size: 1.5rem;
                    padding: 0.8rem 3.5rem;
                    margin-top: 0.5rem;
                    border: none;
                    border-radius: 0.4rem;
                }
            }
        }
    }
}

@media only screen and (min-width: 990px) and (max-width: 1200px) {
    .home {
        padding-top: 4rem;
    }
}

@media only screen and (min-width: 1200px) and (max-width: 1480px) {
    .home {
        padding-top: 4rem;
    }
}
