.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.8rem 0rem;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    background-color: transparent;
    z-index: 10;
    .navbar__brand {
        padding-right: 4rem;
        img {
            height: 35px;
            width: 77px;
        }
    }
    .navbar__items {
        display: block;
        ul {
            display: flex;
            list-style: none;
            margin: 0px;
            padding-left: 4rem;
            align-items: center;
            .navbar__item {
                color: var(--white);
                font-size: 22px;
                padding-right: 1.5rem;
                padding-left: 1.5rem;
                position: relative;
                cursor: pointer;
                &::after {
                    position: absolute;
                    bottom: -0.7rem;
                    left: 0;
                    right: 0;

                    margin: auto;
                    width: 0px;
                    content: ".";
                    color: transparent;
                    background: var(--red);
                    height: 2px;
                    transition: all 0.4s ease-in-out;
                }
                &:hover::after {
                    content: "";
                    width: 30%;
                }
            }
            .navbar__item__button {
                padding-right: 3rem;
                .navbar__item__btn {
                    background-color: var(--red);
                    color: #ffff;
                    font-size: 1.2rem;
                    padding: 0.8rem 1.5rem;
                    /* box-shadow: none; */
                    border: none;
                    border-radius: 0.4rem;
                }
            }
        }
    }
    .navbar__items_responsvie {
        display: none;
    }
    .navbar__block_icon_menu {
        width: 25px;
        height: 25px;
        padding-left: 4rem;
        display: none;
    }
}

@media only screen and (max-width: 767px) {
    .header {
        .navbar__items {
            display: none;
        }
        .navbar__items__responsvie {
            position: absolute;
            width: 100%;
            background-color: #15202b;
            color: white;
            text-align: center;
            display: none;
            top: 100%;
            .navbar__item {
                padding-top: 0.5rem;
                padding-bottom: 0.5rem;
                font-size: 20px;
            }
            &.active {
                display: block;
            }
            .navbar__item__btn {
                background-color: var(--red);
                color: #ffff;
                font-size: 1.2rem;
                padding: 0.8rem 1.5rem;
                /* box-shadow: none; */
                border: none;
                border-radius: 0.4rem;
                margin-top: 0.5rem;
                margin-bottom: 1rem;
            }
        }

        .navbar__block_icon_menu {
            width: 25px;
            height: 25px;
            padding-left: 1rem;
            display: block;
        }
        .navbar__brand {
            padding-right: 1rem;
        }
    }
}

@media (min-width: 768px) and (max-width: 990px) {
    .header {
        .navbar__items {
            display: none;
        }
        .navbar__items__responsvie {
            position: absolute;
            width: 100%;
            background-color: #15202b;
            color: white;
            text-align: center;
            display: none;
            top: 100%;
            .navbar__item {
                padding-top: 0.5rem;
                padding-bottom: 0.5rem;
                font-size: 20px;
            }
            &.active {
                display: block;
            }
            .navbar__item__btn {
                background-color: var(--red);
                color: #ffff;
                font-size: 1.2rem;
                padding: 0.8rem 1.5rem;
                /* box-shadow: none; */
                border: none;
                border-radius: 0.4rem;
                margin-top: 0.5rem;
                margin-bottom: 1rem;
            }
        }

        .navbar__block_icon_menu {
            width: 25px;
            height: 25px;
            padding-left: 1rem;
            display: block;
        }
        .navbar__brand {
            padding-right: 1rem;
        }
    }
}

@media only screen and (min-width: 990px) and (max-width: 1200px) {
}

@media only screen and (min-width: 1200px) and (max-width: 1480px) {
}
