<div class="container">
  <div class="timeline">

    <div class="timeline-container info">
      <div class="timeline-icon" title="Aug 28, 2020">28<span>Aug</span></div>
      <div class="timeline-body">
          <h4 class="timeline-title">مقابلة مع شخصية مشهورة <span class="badge">مقابلة شخصية</span></h4>
          <p>
            عملنا مقابلة شخصية مع اشهر مطوري الفرونت اند في الشرق الاوسط والمجتمع العربي, اتناقشنا ف التكنولجي المطروحه وازاي نقدر نطور المحتوي العربي
            واية اغلب المشاكل الي بتواجه المطوريين المبتدئين ,,, والمذيد تقدر تشوفها لايف علي القناه
          </p>
          <p class="timeline-subtitle">Aug 28, 2020</p>
      </div>
    </div>
      <div class="timeline-container success">
        <div class="timeline-icon" title="Jun 15, 2020">15<span>Jun</span></div>
        <div class="timeline-body">
              <h4 class="timeline-title">ساهمنا ف موقع Javascript.info <span class="badge">مساهمه</span></h4>
              <p>مساهمه كبيره ف المجتمع العربي وتطوير المحتوي العربي واضافة اللغه العربية لاكبر موقع, تقدر تدخل علي الموقع وتتصفح باللغه العربية</p>
              <p class="timeline-subtitle">Jun 8, 2020</p>
          </div>
      </div>
      <div class="timeline-container success">
        <div class="timeline-icon" title="Jun 8, 2020">8<span>Jun</span></div>
        <div class="timeline-body">
            <h4 class="timeline-title">بدا دورة unit testing<span class="badge">دورة</span></h4>
            <p> بدانا من نقطه الصفر , قدمنا يعني ايه unit test ولية بتكتبها ف المشروع بتاعك من خلال تقديم المفاهيم الرئيسية ,,
              وازاي تقتدر تعمل test علي داتا fake , directives , pipes, components, https services and Circle CI  </p>
            <p class="timeline-subtitle">ساعتين</p>
        </div>
    </div>
      <div class="timeline-container success">
        <div class="timeline-icon" title="Jan 30, 2020">30<span>Jan</span></div>
        <div class="timeline-body">
              <h4 class="timeline-title">بدأ دورة الانجولار من الصفر الي الاحتراف<span class="badge">دورة </span></h4>
              <p> بدأ دورة من الصفر الي الاحتراف , تتضمن الدورة الكتير من المواضيع التي تساعدك علي الاحتراف مع اطار العمل انجولار دون معرفة سابقة باللغه
                </p>
              <p class="timeline-subtitle">Jan 30, 2020</p>
          </div>
      </div>
      <div class="timeline-container success">
        <div class="timeline-icon" title="Nov 27, 2019">27<span>Nov</span></div>
        <div class="timeline-body">
              <h4 class="timeline-title">توبيك ع الطاير مع اكبر مكتبة RXJS<span class="badge">توبيك</span></h4>
              <p>توبيك ع الطاير مع اكبر مكتبة Reactive Extensions  وشرح جميع المواضع Observable, observer, subscription, operatator, Schedulers</p>
              <p class="timeline-subtitle"> Nov 27, 2019</p>
          </div>
      </div>
      <div class="timeline-container warning">
        <div class="timeline-icon" title="oct 26, 2019">26<span>Oct</span></div>
        <div class="timeline-body">
              <h4 class="timeline-title">سيشن اونلاين في binding<span class="badge">سيشن</span></h4>
              <p>  اونلاين سيشن في ربط الداتا في نفس component وازاي تقتدر تشير الداتا عن طريق input & output وازاي تقدر تشيرها بين اكتر من component  </p>
              <p class="timeline-subtitle"> oct 26, 2019</p>
          </div>
      </div>
      <div class="timeline-container warning">
        <div class="timeline-icon" title="Oct 6, 2019">6<span>Oct</span></div>
        <div class="timeline-body">
              <h4 class="timeline-title">سيشن اونلاين في Routing<span class="badge">سيشن</span></h4>
              <p>اونلاين سيشن في Routing وازاي تقدر تبني الابليكيشن وحاجات تانية كتير</p>
              <p class="timeline-subtitle">Oct 6, 2019</p>
          </div>
      </div>
      <div class="timeline-container warning">
        <div class="timeline-icon" title="Sep 28, 2019">28<span>Sep</span></div>
        <div class="timeline-body">
              <h4 class="timeline-title">سيشن اونلاين في angular forms<span class="badge">سيشن</span></h4>
              <p>اونلاين سيشن في angular forms وتفاصيل اكتر عن انواع الـ forms واية استخدامات كل نوع وتفاصيل </p>
              <p class="timeline-subtitle">Sep 28, 2019</p>
          </div>
      </div>
      <div class="timeline-container warning">
        <div class="timeline-icon" title="Sep 21, 2019">21<span>Sep</span></div>
        <div class="timeline-body">
              <h4 class="timeline-title">سيشن اونلاين في unit testing<span class="badge">سيشن</span></h4>
              <p>اونلاين سيشن عن unit testing, اية هيا وهل  مطلبوة في سوق العمل وهل هيا مهمه ولا لاء وازاي ابداها في مشروعي وافضل طريقة علشان اعمل debug للكود ازاي
                وحاجات تانية كتير
              </p>
              <p class="timeline-subtitle">Sep 21, 2019</p>
          </div>
      </div>
      <div class="timeline-container info">
        <div class="timeline-icon" title="Jul 16, 2019">16<span>Jun</span></div>
        <div class="timeline-body">
              <h4 class="timeline-title">انشانا NG ARAB<span class="badge">البداية</span></h4>
              <p>تاريخ انشاء الجروب وبداية دعم المحتوي العربي</p>
              <p class="timeline-subtitle">Jul 16, 2019</p>
          </div>
      </div>
  </div>
</div>
