<section class="question">
  <div class="question_content">
    <div class="question_content_rightSide">
      <div class="question_content_rightSide_title">جافا سكربت</div>
      <div class="question_content_rightSide_textLevel">المستوي الثالث</div>
      <div class="question_content_rightSide_time">
        <div class="question_content_rightSide_time_text">الوقت المتبقي</div>
        <div class="question_content_rightSide_time_count">
          {{ minutes }}:{{ seconds }}
        </div>
      </div>
      <div class="question_content_rightSide_groupButoon">
        <div class="question_content_rightSide_groupButoon_buttonChange">
          <button>تغير السؤال</button>
        </div>
        <div class="question_content_rightSide_groupButoon_buttonHint">
          <button>تلميح</button>
        </div>
      </div>

      <div class="question_content_rightSide_brand" routerLink="/home">
        <img src="assets/125161515_685790432374641_6739507034179800526_n.png" />
      </div>
    </div>
    <div class="question_content_bodyQuestion">
      <div class="question_content_bodyQuestion_question">
        <div class="question_content_bodyQuestion_textQuestion">
          هو ببساطة نص شكلي (بمعنى أن الغاية هي الشكل وليس المحتوى) ويُستخدم في
          صناعات المطابع ودور النشر يُستخدم في صناعات المطابع ودور النشر هو
          ببساطة نص شكلي (بمعنى أن الغاية هي الشكل وليس المحتوى) ويُستخدم في
          صناعات المطابع ودور النشر بمعنى أن الغاية
        </div>
        <div class="question_content_bodyQuestion_groupChosse">
          <label class="radio radio-gradient">
            <span class="radio__input">
              <input type="radio" name="radio" />
              <span class="radio__control"></span>
            </span>
            <span class="radio__label">ويُستخدم في صناعات المطابع ودور </span>
          </label>

          <label class="radio radio-gradient">
            <span class="radio__input">
              <input type="radio" name="radio" />
              <span class="radio__control"></span>
            </span>
            <span class="radio__label"
              >صناعات المطابع ودور النشر هو ببساطة نص شكلي
            </span>
          </label>
        </div>

        <div class="question_content_bodyQuestion_groupButoon">
          <div class="question_content_bodyQuestion_groupButoon_buttonNext">
            <button>الى بعده</button>
          </div>
          <div class="question_content_bodyQuestion_groupButoon_buttonPrev">
            <button>السؤال السابق</button>
          </div>
        </div>
      </div>

      <div class="question_content_bodyQuestion_progressBar">
        <div class="question_content_bodyQuestion_textProgress">
          تم الإجابة على <span>3</span> / 20 سؤال
        </div>
        <div class="question_content_bodyQuestion_progress">
          <div class="progress-outer">
            <div class="progress">
              <div
                class="
                  progress-bar progress-bar-info progress-bar-striped
                  active
                "
                style="width: 80%"
              >
                <div class="progress-value"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
