.footer {
  padding: 1rem 0rem;
  display: flex;
  align-items: flex-end;

  .block__rights {
    color: var(--white);
    font-size: 18px;
  }
  .block__terms__condition {
    color: var(--white);
    margin-right: 2rem;
    font-size: 18px;
  }
}

@media only screen and (max-width: 767px) {
  .footer {
    .block__terms__condition {
      color: var(--white);
      margin-right: 1rem;
      margin-top: 0.5rem;
    }
  }
}
